@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
$theme_primary: #000;
$theme_secondary: #f1f10c;
$theme_bg: white;
$theme_bg-gradient: white;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin bg-color {
background-image: linear-gradient(75deg, #fdfbfb 0%, #ebedee 100%);
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

%search-form-template{
    @include transition-ease;
    width: 85%;
    height: 2.5rem;
    margin: 1.5rem auto 0 auto;
    border-radius: 0.5rem;
    padding: 0 3%;
    background-color: $theme_bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
        font-size: 1.25rem;
        flex-basis: 95%;
        height: 100%;
        border: none;
        outline: none;
        &:hover{
            outline: none;
            border: none;
        }
    }
    label{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        flex-basis: 5%;
        flex-grow: 0;
        height: 100%;
        svg{
            opacity: 0.7;
            cursor: pointer;
            &:hover{
                @include transition-ease;
                opacity: 1;
            }
        }
    }
}

$mobile-m: 360px;
$mobile-l: 412px;
$mobile-xl: 767px;
$tablet: 768px;
$desktop__sm: 1024px;
$desktop__m: 1280px;
$desktop__l: 1920px;

@mixin media-mobile-m {
  @media screen and (min-width: $mobile-m) {
    @content;
  }
}
@mixin media-mobile-l {
  @media screen and (min-width: $mobile-l) {
    @content;
  }
}
@mixin media-mobile-xl {
  @media screen and (min-width: 550px) and (max-width: $mobile-xl) {
    @content;
  }
}
@mixin media-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin media-desktop__sm {
  @media screen and (min-width: $desktop__sm) {
    @content;
  }
}
@mixin media-desktop__m {
  @media screen and (min-width: $desktop__m) {
    @content;
  }
}

@mixin media-desktop__l {
  @media screen and (min-width: $desktop__l) {
    @content;
  }
}
