


@include media-mobile-m{
  .search-plus__pop-up{
    height: 80%;
    margin-top: 3rem;
  }
}
@include media-mobile-l {
  .nav-form{
    width: 65%;
  }
  .menu{
      #{&}__lister{
          &__item{
            margin: 0.5rem 1rem !important;
        }
      }
  }
  
}

@include media-mobile-xl {
    .home{
        .main-form{
            width: 60%;
            input{
                font-size: 1.25rem;
            }
            label{
                flex-basis: 7.5%;
            }
        }
        .nav-form{
            width: 70%;
            label{
                flex-basis: 5%;
            }
        }
    }
    .home-main{
        #{&}__title{
            font-size: 2rem;
        }
    }
    .main-sub{
        width: 75%;
    }
    .footer{
        #{&}-flex{
            width: 50%;
            margin: 1rem auto;
        }
    }
    .recipe-modal{
        width: 70%;
    }
    .search-plus__pop-up{
        form{
            width: 50%;
        }
        #{&}__input{
            width: 100%;
            font-size: 1.25rem;
        }
        .ingredients-lister{
            width: 75%;
        }
    }
    .menu{
        #{&}__header{
            top: 6rem !important;
        }
    }
}

 @include media-tablet {
    .mobile-nav-bar {
        height: 4rem;
        justify-content: flex-start;
    }
    .menu-btn {
        top: 45%;
        &__burger {
            height: 0.2rem;
            &::before {
                height: inherit;
            }
            &::after {
                height: inherit;
            }
        }
    }
    .nav{
        #{&}__menu{
            line-height: 2.5;
            &__item{
                &__link{
                    font-size: 3.5rem;
                }
            }
        }
    }

    .home{
        #{&}__title{
            font-size: 3.5rem;
        }
        #{&}__suggestor{
            font-size: 1.25rem;
        }

    }
    .nav-form{
        height: 75%;
        input{
            font-size: 1.5rem;
        }
        label{
            flex-basis: 5%;
        }
    }
    .main-form{
        width: 65%;
        height: 3.5rem;
        border-radius: 1rem;
        input{
            font-size: 1.75rem;
        }
        label{
            flex-basis: 6%;
        }
    }

    .home-main{
         #{&}__title{
             font-size: 2.5rem;
             margin-bottom: 2rem;
         }
    }

    .main-sub{
        flex-direction: row;
        #{&}__info{
            flex-basis: 50%;
            padding: 1rem;
            &__title{
                h3{
                    font-size: 1.25rem;
                    text-align: left;
                }
            }
        }
        #{&}__img-div{
            flex-basis: 50%;
        }
        &:nth-child(3){
            div:last-child{
                order: -1;
            }
        }
    }

    .search-page__title{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .menu{
         #{&}__lister{
             padding-top: 5rem;
             top: 1rem !important;
             &__item{
                 font-size: 1.5rem;
             }
         }
         #{&}__header{
             top: 8rem !important;
             font-size: 2rem;
         }
    }

    .recipe-modal{
        width: 95%;
        height: 90%;
        margin-top: 5rem;
    }

    .search-plus{
         padding-top: 15%;
    }
    .main-sub.search-plus{
        width: 85%;
        flex-direction: column;
    }

    .search-plus__pop-up{
        height: 50%;
        margin-top: 25%;
        #{&}__input{
            height: 2rem;
            font-size: 1.25rem;
        }
        form{
            width: 60%;
        }
    }
    .footer{
        height: 15rem;
        padding-top: 2rem;
        #{&}-flex{
            width: 50%;
            &__item{
                 font-size: 1.1rem;
            }
            span{
                font-size: 1.1rem;
            }
        }
    }

}


@include media-desktop__sm {
    .mobile-nav-bar {
        display: none;
    }
    .nav{
        @include bg-color;
        border-bottom: 2px solid $theme_secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        transform: translateY(0);
        #{&}__menu {
            margin-top: 0;
            margin: 0 1rem;
            padding-top: 0;
            padding-bottom: 1rem;
            position: static;
            flex-direction: row;
             justify-content: flex-end;
            &__item{
                margin-top: 0;
                 padding-top: 0;
                     &:nth-child(1){
                         color: blue;
                     }
                &__link{
                    font-size: 1.2rem;
                    margin:0 1rem;
                     padding-top: 0;

                    &.logo{
                        position: absolute;
                        left: 1rem;
                        top: 0.5rem;
                        display: block;
                        font-size: 1.2rem;
                        font-family:Courgette, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

            }
        }
    }
 }
 .nav-form{
      width: 60%;
      margin-top: 1rem;
      margin-left: 6rem;
      height:2.5rem;
      label{
          flex-basis: 4%;
      }
      input{
          padding-bottom: 0.5rem;
      }
 }
    .recipe-modal{
        width: 70%;
    }
     .search-plus{
         height: 100vh;
         padding: 2rem 5rem 0 5rem;
    }
    .main-sub.search-plus{
        height: 85vh;
        padding-top: 0;
        margin-top: 2.5rem;
        width: 80%;
        overflow-y: hidden;
    }
    .search-plus__pop-up{
        margin-top: 5rem;
        height: 70%;
        width: 40%;
        padding-top: 2.5rem;
    }

    .explorer{
        #{&}__box{
            width: 50% !important;
        }
    }
     .footer{   
        #{&}-flex{
        width: 35%;
    }
 }

}
